/* Estilo personalizado para el fondo azul oscuro */
.bg-dark-blue {
    background-color: teal; /* Azul oscuro */
}

.navbar .nav-item .btn-link {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

    .navbar .nav-item .btn-link:hover {
        color: #cccccc;
    }

/* Estilo para el botón "Cotizar" */

.container¨

.navbar .nav-item .btn-link {
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navbar .nav-item .btn-link:hover {
    color: #0056b3;
}

/* Estilo para el botón "Cotizar" */
.navbar .btn-primary {
    font-size: 1.1rem;
    background-color: steelblue;
    border-color: steelblue;
}

.navbar .btn-primary:hover {
    background-color: steelblue;
}

/* Estilos para los elementos de la barra de navegación */
.navbar-nav .nav-item {
    margin-right: 30px; /* Espaciado entre elementos de navegación */
}

/* Estilos para los elementos de la barra de navegación */

.label-check {
    display: none;
}

.hamburger-label {
    width: 35px;
    height: 29px;
    display: block;
    cursor: pointer;
    position: relative;
}

    .hamburger-label div {
        width: 35px;
        height: 3px;
        background-color: #fff;
        position: absolute;
    }

.line1 {
    transition: all .3s;
}

.line2 {
    margin: 7px 0 0 0;
    transition: 0.3s;
}

.line3 {
    margin: 14px 0 0 0;
    transition: 0.3s;
}

#label-check:checked + .hamburger-label .line1 {
    transform: rotate(35deg) scaleX(.55) translate(13px, -1px);
    border-radius: 25px 25px 25px 0;
}

#label-check:checked + .hamburger-label .line3 {
    transform: rotate(-35deg) scaleX(.55) translate(13px, 1px);
    border-radius: 0 25px 25px 25px;
}

#label-check:checked + .hamburger-label .line2 {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 17.5px;
}


/* Estilos para el logo en la barra de navegación */
.inicio-icono {
    width: 70px; /* Ancho del logo */
    height: auto; /* Mantener la proporción original de la imagen */
    margin-right: 10px; /* Espaciado a la derecha del logo */
}


#motosElectricasBtn {
    color: #2bbd4b; /* Color de fondo de la barra de navegación */
}


.logo-text {
    font-size: 35px; /* Tamaño de la fuente */
    color: white; /* Color rojo */
    font-family: 'Arial', sans-serif; /* Tipo de fuente (puedes cambiarlo según tus preferencias) */
    font-weight: bold; /* Peso de la fuente (negrita) */
    letter-spacing: 3px; /* Espaciado entre letras */
}


/* Estilos para el botón de cotizar */
#cotizarBtn {
    margin-left: 20px; /* Espaciado a la izquierda del botón de cotizar */
}

    /* Estilos para el botón de cotizar al pasar el mouse */
    #cotizarBtn:hover {
        background-color: #004080; /* Color de fondo al pasar el mouse */
        border-color: #004080; /* Color del borde al pasar el mouse */
    }

/* Estilos para el footer */
footer {
    background-color: teal; /* Color de fondo del footer */
    padding: 50px 0; /* Espaciado interno del footer */
    color: #333; /* Color del texto en el footer */
}

    /* Estilos para las columnas dentro del footer */
    footer .col-md-4 {
        margin-bottom: 30px; /* Espaciado entre las columnas */
    }

    /* Estilos para los títulos en el footer */
    footer h5 {
        color: white; /* Color del título en el footer */
    }

    /* Estilos para los enlaces sociales en el footer */
    footer a.btn-link {
        color: white; /* Color del enlace */
    }

        footer a.btn-link:hover {
            text-decoration: underline; /* Subrayado al pasar el mouse sobre el enlace */
        }

    /* Estilos para el formulario de suscripción en el footer */
    footer form {
        margin-top: 20px; /* Espaciado superior del formulario */
    }

    footer input.form-control {
        margin-bottom: 10px; /* Espaciado inferior del campo de entrada de correo electrónico */
    }

    footer button.btn-info {
        background-color: blue; 
        border-color: white;  
    }

        footer button.btn-info:hover {
            background-color: darkblue;  
            border-color: white;   
        }


/* Estilo para el contenedor del carrusel */
.container {
    margin-top: 20px;
}

/* Estilo para las imágenes dentro del carrusel */
.carousel-inner img {
    width: 100%;
    height: auto;
}

/* Estilo para los controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}

/* Estilo para el texto descriptivo en las imágenes del carrusel (opcional) */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

/*--------------------------------------------------------------
# tarjetas del incio
--------------------------------------------------------------*/
.features .card {
    border: 0;
    padding: 160px 20px 20px 20px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.features .card-body {
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    transition: ease-in-out 0.4s;
    border-radius: 5px;
}

.features .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

    .features .card-title a {
        color: #3c4133;
    }

.features .card-text {
    color: #5e5e5e;
}

.features .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.4s;
}

    .features .read-more a:hover {
        text-decoration: underline;
    }

.features .card:hover .card-body {
    background: #c04545;
}

.features .card:hover .read-more a,
.features .card:hover .card-title,
.features .card:hover .card-title a,
.features .card:hover .card-text {
    color: #fff;
}


/*Boton de compras*/

.buttonC {
    --width: 120px;
    --height: 55px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: green;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
}

    .buttonC::before {
        position: absolute;
        content: attr(data-tooltip);
        width: var(--tooltip-width);
        height: var(--tooltip-height);
        background-color: #555;
        font-size: 0.9rem;
        color: #fff;
        border-radius: .25em;
        line-height: var(--tooltip-height);
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
        left: calc(50% - var(--tooltip-width) / 2);
    }

    .buttonC::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #555;
        left: calc(50% - 10px);
        bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
    }

    .buttonC::after, .buttonC::before {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonC-wrapper, .text, .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text, .icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .icon svg {
        width: 24px;
        height: 24px;
    }

.buttonC:hover {
    background: #2bbd4b;
}

    .buttonC:hover .text {
        top: -100%;
    }

    .buttonC:hover .icon {
        top: 0;
    }

    .buttonC:hover:before, .buttonC:hover:after {
        opacity: 1;
        visibility: visible;
    }

    .buttonC:hover:after {
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
    }

    .buttonC:hover:before {
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
    }


/*estilos de las tarjetas de los productos*/
/* Estilo global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #0056b3;
}

/* Estilo del contenedor principal */
.container {
    margin-top: 20px;
}

/* Estilo de los títulos */
h1, h2 {
    color: #ddd;
    text-shadow: 1px 1px 2px #000;
    background-color: #0094ff;
    padding: 10px;
    font-family: Arial, sans-serif; /* Tipo de fuente */
}

/* Estilo de las tarjetas */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }

/* Estilo de las imágenes dentro de las tarjetas */
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Estilo del cuerpo de las tarjetas */
.card-body {
    padding: 90px;
    background: linear-gradient(180deg,steelblue, #6e7f80);
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Estilo de los títulos de las tarjetas */
.card-title {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

/* Estilo de los textos de las tarjetas */
.card-text {
    margin-bottom: 10px;
}

/* Estilo del checkbox */
/* Customize the label (the checkbox-btn) */
.checkbox-btn {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center; /* Centra el contenido dentro del contenedor */
}

    /* Hide the browser's default checkbox */
    .checkbox-btn input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkbox-btn label {
        cursor: pointer;
        font-size: 14px;
        display: inline-block; /* Alinea correctamente con el checkbox */
    }

/* Create a custom checkbox */
.checkmark {
    position: relative; /* Cambiado a relativo para ajustar al contenedor padre */
    display: inline-block; /* Alinea el checkbox horizontalmente */
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2.5px solid #ffffff;
    transition: .2s linear;
    box-sizing: border-box; /* Asegura que el tamaño incluya el borde */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}

.checkbox-btn input:checked ~ .checkmark {
    background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 40%;
    width: 10px;
    height: 14px;
    border: 2px solid #0ea021;
    filter: drop-shadow(0px 0px 10px #0ea021);
    border-width: 0 2.5px 2.5px 0;
    transition: .2s linear;
    transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
}

/* Show the checkmark when checked */
.checkbox-btn input:checked ~ .checkmark:after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    animation: pulse 1s ease-in;
}

.checkbox-btn input:checked ~ .checkmark {
    transform: rotate(45deg);
    border: none;
}

@keyframes pulse {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
    }
}

.select-checkbox {
    display: flex;
    align-items: center;
}


[data-tooltip] {
    position: relative;
    cursor: pointer;
}

    [data-tooltip]:before,
    [data-tooltip]:after {
        text-transform: none;
        font-size: 0.9rem;
        line-height: 1;
    }

    [data-tooltip]:before {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 150%;
        left: 50%;
        transform: translateX(-50%);
        padding: 7px 10px;
        border-radius: 5px;
        background-color: #343a40;
        color: #fff;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s, bottom 0.3s;
    }

    [data-tooltip]:after {
        content: '';
        position: absolute;
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent #343a40 transparent;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s, top 0.3s;
    }

    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        opacity: 1;
        pointer-events: auto;
        bottom: 125%;
        top: -4px;
    }

/*
    Boton Detalles*/
/* Estilo del botón Detalles */
.buttonD {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 15px;
    background-color: steelblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

    .buttonD:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }



/*
    boton seleccionar*/



.buttonS {
    position: relative;
    margin: 0;
    margin-top: 10px; /* Margen superior para separar de otros elementos */
    margin-right: 10px;
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: steelblue;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

    .buttonS:hover {
        animation: sh0 0.5s ease-in-out both;
    }

@keyframes sh0 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(7deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-7deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

.buttonS:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

.buttonS::before,
.buttonS::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.buttonS:hover::before,
.buttonS:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.buttonS:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
}

.buttonS:hover::after {
    transform: translate(50%, 0) scale(1.1);
}


/*estilos tablas*/

/* Estilos para la tabla con ID TablaT */
/* Estilos avanzados para la tabla con ID TablaT */

#TablaT {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    #TablaT th,
    #TablaT td {
        text-align: center;
        padding: 12px; /* Espaciado interno */
        border: 1px solid #ddd; /* Borde delgado */
    }

    #TablaT th {
        background-color: #0056b3; /* Color de fondo para encabezados */
        color: white; /* Color de texto para encabezados */
    }

    #TablaT tbody tr:nth-child(even) {
        background-color: white; /* Color de fondo para filas pares */
    }

    #TablaT tbody tr:nth-child(odd) {
        background-color: steelblue; /* Color de fondo para filas impares */
        color: white; /* Color de texto para filas impares */
    }

    #TablaT tbody tr:hover {
        background-color: #f2f2f2; /* Cambio de color al pasar el mouse */
    }
/*

    ESTILOS param LAS TABLAS de CONTACTO*/
/* Estilos avanzados para las tablas de Sucursales y Distribuidores */

#TablaSDSucursales, #TablaSDDistribuidores {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    #TablaSDSucursales th,
    #TablaSDDistribuidores th,
    #TablaSDSucursales td,
    #TablaSDDistribuidores td {
        text-align: center;
        padding: 12px; /* Espaciado interno */
        border: 1px solid #ddd; /* Borde delgado */
    }

    #TablaSDSucursales th,
    #TablaSDDistribuidores th {
        background-color: #0056b3; /* Color de fondo para encabezados */
        color: white; /* Color de texto para encabezados */
    }

    #TablaSDSucursales tbody tr:nth-child(even),
    #TablaSDDistribuidores tbody tr:nth-child(even) {
        background-color: white; /* Color de fondo para filas pares */
    }

    #TablaSDSucursales tbody tr:nth-child(odd),
    #TablaSDDistribuidores tbody tr:nth-child(odd) {
        background-color: steelblue; /* Color de fondo para filas impares */
        color: white; /* Color de texto para filas impares */
    }

    #TablaSDSucursales tbody tr:hover,
    #TablaSDDistribuidores tbody tr:hover {
        background-color: #f2f2f2; /* Cambio de color al pasar el mouse */
    }


/*    estilo  login*/

/* Estilo para el contenedor principal */
.containerL {
    margin-top: 20px;
}

/* Estilo para el formulario */
.form-containerL {
    margin: 5% ; /* Centrar horizontalmente */
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* Estilo para los campos de formulario */
.form-groupL {
    margin-bottom: 20px;
    
    align-items: center;
}

/* Estilo para etiquetas */
.control-labelL {
    font-weight: bold;
}

/* Estilo para el botón de iniciar sesión */
.btn-iniciarL {
    background-color: #28a745;
    color: #fff;
    border: none;
}

    .btn-iniciarL:hover {
        background-color: #218838;
    }

/* Estilo para el enlace de registro */
.registro-linkL {
    margin: 5%; /* Centrar horizontalmente */
    text-decoration: none;
    color: #007bff;
}

    .registro-linkL:hover {
        color: #0056b3;
    }


/*
    estilos de cuadros de texto, mensajes.:*/


.message-box {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
}

    .message-box p {
        margin: 0;
        font-size: 20px;
        line-height: 1.6;
    }

    .message-box::before {
        content: "\201C"; /* Comillas de apertura */
        font-size: 3em;
        display: block;
        margin-bottom: 10px;
        color: #3498db;
    }

    .message-box::after {
        content: "\201D"; /* Comillas de cierre */
        font-size: 3em;
        display: block;
        margin-top: 10px;
        color: #3498db;
    }

@media (max-width: 768px) {
    .message-box {
        width: 95%;
    }

        .message-box::before,
        .message-box::after {
            font-size: 2.5em;
        }
}


/*para los iframe*/
.iframe-container {
    position: relative;
    width: 100%;
    height: 50vh; /* Altura completa de la ventana */
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0; /* Sin bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }