
@{
    ViewBag.Title = "index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reporte Compras </title>
</head>
<body>
    <div class="container">
        <h1>Informe Power BI</h1>
        <div class="iframe-container">
            <iframe title="POWERBI" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiY2MwYTBjYTUtM2JmMi00ZmNiLThkNjQtNDBiMjFiNDNkNjIzIiwidCI6IjEyODg2NTI1LTVkNTgtNDg4MS05N2U5LTgwMjBhYzNiY2Y2NCJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</body>
</html>
