
@{
    ViewBag.Title = "index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Informe Power BI</title>
</head>
<body>
    <iframe title="POWERBI" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZmExYTAwZTEtYjhkOC00NzgwLWI2YzQtZjRiZDMwODkwOGVlIiwidCI6IjEyODg2NTI1LTVkNTgtNDg4MS05N2U5LTgwMjBhYzNiY2Y2NCJ9" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>
